* {
    padding : 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}


.tagline1{
    background-color: #F5F0CD;
}

.tagline2{
    background-color: #FADA7A;
}





.main{
    background-image: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
.main1{
    background-image: url("https://plus.unsplash.com/premium_photo-1714397507054-b34acc119eb5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 90vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}



.headfont{
    font-size: 30px;
    color: rgb(65, 65, 65);
    font-weight: 500;
}




.desfont{
    color: rgb(99, 99, 99);
}

.support{
    background-color: rgb(61, 61, 61);
}

.textsupport{
    font-size: 13px;
    color: aliceblue;
}

